.margin {
  margin-top: 4rem;
  margin-left: 1rem;
}

.share {
  background-color: #4FC775;
  border: 1px solid #4FC775;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.marginLeft {
  margin-left: 4rem;
}

.endWrapper {
  margin-top: 4rem;
  margin-left: 3rem;
}

.inputWrapper {
  margin-top: 1rem;
}

.buttonWrapper {
  margin-top: 4rem;
  margin-left: 1rem;
}

.oneButton {
  margin-right: 1rem;
}