.paddingTop {
  padding-top: 8rem;
}

.marginTop {
  margin-top: 2.3rem;
}

.horizonCenter {
  text-align: center;
}

.logoImg {
  margin-top: 6rem;
}

.kakaoButtonWrapper {
  text-align: center;
}

.kakaoButton {
  background-color: #fee500;
  border: 1px solid #fee500;
  border-radius: 12px;
  width: 280px;
  /* height: auto; */
  margin-top: 3rem;
}

.FontWhite {
  color: white;
}

.Center {
  position: absolute;
  left: calc(50dvw - 6rem);
  top: 20rem;
}
