.chatListArea {
  height: calc(100dvh - 8.75rem);
  width: calc(100dvw - 1rem);
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.ChatGap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Thumbnail {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ManitoImage {
  width: 2rem;
  height: auto;
}

.FlexHorizontal {
  display: flex;
}

.MyFlexHorizontal {
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}

.TheirFlexHorizontal {
  justify-content: baseline;
  align-items: end;
  gap: 0.5rem;
}

.TheirFlexVertical {
  justify-content: baseline;
  align-items: baseline;
}

.FlexVertical {
  display: flex;
  flex-direction: column;
}

.Admin {
  width: calc(100dvw - 1rem);
  min-height: 2rem;
  text-align: center;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

.Admin1 {
  width: 9.5rem;
  word-break: keep-all;
  white-space: normal;
}
.Message {
  border-radius: 0.3125rem;
  padding: 0.5rem;
  max-width: 13rem;
  word-break: break-all;
  white-space: normal;
}
.Message img {
  max-width: 12.5rem;
  height: auto;
  background-color: white;
  border-radius: 0.3125rem;
}
.MyMessage {
  background-color: #ffd656;
}

.TheirMessage {
  background-color: white;
}

.Gap {
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
