.inputArea {
  position: absolute;
  bottom: 1rem;
  min-height: 4rem;
  /* height: 4.375rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FlexHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InputBox {
  gap: 1rem;
  width: 20.5rem;
}

.PreviewBackground {
  position: absolute;
  top: -3rem;
  height: 3rem;
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PreviewHidden {
  display: none;
}

.ImageInput {
  visibility: hidden;
}

.ImageBox {
  position: relative;
}
.DeleteButton {
  position: absolute;
  right: 0rem;
  top: 0rem;
}
.PreviewImage {
  width: auto;
  max-width: 5rem;
}
.plusBtn {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffd656;
}
.MessageContainer {
  position: relative;
}

.TextBox {
  width: 13.625rem;
  min-height: 1rem;
  max-height: 3rem;
  border-radius: 5rem;
  padding-left: 1.5rem;
  padding-right: 3rem;
  padding-top: 1rem;
  outline: none;
  border: #4d4637 2px solid;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  resize: none;
}

.TextBox::-webkit-scrollbar {
  display: none;
}

.SendButton {
  border-radius: 0 5rem 5rem 0;
  border: none;
  background-color: #4d4637;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0rem;
  top: -0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
