.Container {
  width: 22.5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 9rem;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TitleItem {
  margin-bottom: 1rem;
}
