/*  */

.Heading {
  margin-top: 3rem;
  text-align: center;
}

.Title {
  padding-left: 0.75rem;
  gap: 0.5rem;
}

.MissionStatus {
  padding-left: 0.75rem;
  gap: 0.5rem;
}

.marginTop {
  margin-top: 1rem;
}

.marginBottom {
  margin-bottom: 2rem;
}

.checkContainer {
  width: 18rem;
  height: 27rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 18rem;
  height: 30rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadContainer {
  width: 18rem;
  height: 25rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonMargin {
  margin-right: 1rem;
}

.imageBox {
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ECECEC; /* 테두리 */
  border-radius: 30px; /* 모든 모서리의 곡률 */

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}