.ScrollConatiner {
  height: 33rem;
  overflow-y: auto;
  margin-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Title {
  padding-left: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Containter {
  width: 18rem;
  height: 35rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HintImage {
  padding-right: 1rem;
}

.Text {
  text-align: center;
}

.Text > p {
  padding-bottom: 0.3rem;
}
