.margin {
  margin-top: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

.marginTop {
  margin-top: 1rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}