.margin {
  margin-top: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

.marginTop {
  margin-top: 1.5rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  position: absolute;
  top: 4rem;
  left: calc(50dvw - 9.8rem);
}
