.TextContent {
  display: flex;
  align-items: center;
  word-break: break-all;
  white-space: normal;
  min-width: 1rem;
  max-width: 10.5rem;
  height: 1.5rem;
}
.MyText {
  justify-content: end;
}

.YourText {
  justify-content: start;
}

.Message {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}
.MyMessage {
  border: 0.2rem solid #ffd656;
  border-radius: 1.5rem 1.5rem 0rem 1.5rem;
  display: flex;
  justify-content: end;
}

.YourMessage {
  border: 0.2rem solid #4fc775;
  border-radius: 1.5rem 1.5rem 1.5rem 0rem;
  display: flex;
  justify-content: start;
}
