.ErrorContainer {
  position: relative;
  width: 22rem;
  height: 20rem;
  /* background-color: aqua; */
  position: absolute;
  top: 18rem;
  left: calc(50dvw - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Loading {
  position: absolute;
  top: 20rem;
  left: calc(50dvw - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ResultRetry {
  width: 5rem;
  height: 5rem;
  background-color: #eea23e;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
