.ErrorContainer {
  position: relative;
  width: 22rem;
  height: 20rem;
  /* background-color: aqua; */
  position: absolute;
  top: 18rem;
  left: calc(50dvw - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Loading {
  position: absolute;
  top: 20rem;
  left: calc(50dvw - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ResultRetry {
  width: 3rem;
  height: 3rem;
  background-color: #eea23e;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.RefreshAnimation {
  animation: RefreshA 1s;
  display: inline-block;
  animation-delay: 1ms;
}

@keyframes RefreshA {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}

.PartyLeave {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 999999;
  width: 3rem;
  height: 3rem;
  background-color: #eea23e;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
