.slick-dots {
  position: absolute;
  bottom: 4.56rem;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  font-size: 0.6rem;
  color: #ffd656;
}

.slick-dots li button:before {
  font-size: 0.6rem;
  opacity: 0.1;
  color: black;
}

.carousel-container {
  width: 40rem;
}

[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  border: max(2px, 0.1em) solid #4fc775;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition: border 0.5s ease-in-out;
}

[type='radio']:checked {
  border: 0.4em solid #4fc775;
}

[type='radio']:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #4fc775;
}

.slick-prev:before,
.slick-next:before {
  color: #eea23e;
}
