.HeadFont {
  font-size: 48px;
}

.HeadDark {
  color: #4D4637;
}

.HeadWhite {
  color: white;
}

.Box {
  background-color: red;
}

.kakaoButton {
  width: 240px;
  height: 45px;
  background-color: #FEE500;
  border: 1px solid #FEE500;
  border-radius: 12px;
}

.kakaoButton {
  width: 280px;
  height: auto;
}