nav {
  overflow: hidden;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
}

nav > div {
  /* 수평정렬 */
  text-align: center;
  float: left;
  width: 25%;

  /* 세로길이 설정 */
  height: 70px;
  line-height: 85px;
  -webkit-tap-highlight-color: transparent !important;
}

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.125rem;
  background-color: white;
}

.UnderBar {
  position: absolute;
  bottom: 0rem;
  z-index: 100;
  height: 0.2rem;
  background-color: #ffd656;
  min-width: 32px;
  width: 12.5%;
}

.BarMission {
  left: 6.25%;
}

.BarChatting {
  left: 31.25%;
}

.BarHint {
  left: 56.25%;
}

.BarResult {
  left: 81.25%;
}
