.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinTitle {
  margin-top: 4rem;
}

.marginTop {
  margin-top: 3rem;
}